Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
install-sh
missing
stamp-h1
*.o
depcomp
.deps/
ftviz
autoscan.log
configure.scan
record
config.h.in~
*-test
*.a
create-wav
*.wav
pipe
